@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles to match the clean UI */
html, body, #__next {
  height: 100%;
}
body {
  @apply bg-white text-gray-700;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.container {
  max-width: 1100px;
}
